/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    color: #ff8000;
    text-align: center;
}

#bmrTdeeForm {
    background-color: #ffffff;
    max-width: 800px; /* Ajustează această valoare în funcție de preferințele tale */
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap; /* Permite elementelor să se înfășoare pe ecranele mai mici */
    justify-content: space-between;
}

.left-column,
.right-column {
    flex: 1;
}

@media (max-width: 768px) {
    .left-column,
    .right-column {
        flex-basis: 100%; /* Pe dispozitive mobile, fiecare coloană va ocupa întreaga lățime */
    }
    .right-column {
        margin-top: 20px; /* Adaugă un spațiu suplimentar între coloane pe dispozitive mobile */
    }
}

label, input[type="number"], select, button, #results {
    width: 100%; /* Asigură-te că elementele de formă și rezultatele se extind pe întreaga lățime */
    margin-top: 10px; /* Uniformizează spațiul vertical între elementele de formă */
}

input[type="number"], select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #ed563b;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c75233; /* O nuanță puțin mai închisă pentru hover, pentru un efect vizual */
}

#results {
    margin: 20px 0; /* Adaugă spațiu suplimentar înainte și după containerul de rezultate */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ed563b;
}
