.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .progress-image-group {
    margin-bottom: 20px; /* Adaugă spațiu între grupuri */
}

.progress-image-group img {
    width: 100px; /* Sau orice altă dimensiune preferi */
    margin-right: 10px; /* Adaugă spațiu între imagini */
}

.progress-image-group h4 {
    margin-bottom: 10px; /* Spațiu între titlu și imagini */
}
