/* Stiluri generale de resetare și aspect */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 0;
    margin: 0;
}

/* Stiluri pentru secțiunea de profil */
#profile-info {
    background: #f8f8f8;
    padding: 50px 0;
    border-bottom: 1px solid #eaeaea;
}

#profile-info h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Stiluri pentru containerul formularului */
.form-container {
    background: #ffffff;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container input[type='text'],
.form-container input[type='email'],
.form-container input[type='date'],
.form-container select,
.form-container input[type='file'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container button {
    background: #0056b3;
    color: #ffffff;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.form-container button:hover {
    background: #004a9f;
}

/* Stiluri pentru tabelul de date personale */
#profileDataContainer,
#progressPicturesContainer {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

#profileDataContainer thead {
    background: #0056b3;
    color: #ffffff;
}

#profileDataContainer th,
#profileDataContainer td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Stiluri pentru pozele de progres */
#progressPicturesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#progressPicturesContainer img {
    max-width: 48%;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Stiluri pentru containerul de date ale clientului */
#clientsDataContainer .client-data {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#clientsDataContainer .client-data h3 {
    margin-bottom: 20px;
}

#clientsDataContainer table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#clientsDataContainer thead {
    background: #0056b3;
    color: #ffffff;
}

#clientsDataContainer th, #clientsDataContainer td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Stiluri pentru titlurile coloanelor */
.progress-image-titles {
    display: flex;
    justify-content: space-between; /* Acest lucru va separa titlurile */
    margin-bottom: 10px;
    padding: 0 10px; /* Adaugă padding pe părțile laterale */
}

.title {
    font-weight: bold;
    text-align: center;
    flex: 0 0 calc(33.333% - 10px); /* Acest lucru va asigura că fiecare titlu ocupă 33.333% din lățimea containerului */
}

/* Stiluri pentru rândurile de imagini */
.progress-image-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* spațiul redus între rânduri */
}

/* Stiluri pentru containerul fiecărei imagini */
.image-container {
    position: relative;
    margin: 0 1px;
    flex: 0 0 calc(33.333% - 10px);
    display: flex;
    justify-content: center; /* Centrare imaginilor în interiorul containerului */
}

/* Stiluri pentru imagini */
.image-container img {
    width: auto; /* Ajustează lățimea la container */
    height: auto; /* Înălțimea se va ajusta automat */
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Stiluri pentru eticheta cu data */
.date-label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; /* Asigură că eticheta nu depășește lățimea imaginii */
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    text-align: center;
    padding: 5px 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}


/* Style the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

/* Style the modal content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Stiluri pentru imaginile din modal */
.modal-content .progress-image-modal { /* Acest selector a fost actualizat pentru a corespunde cu clasa din JavaScript */
    width: auto;
    max-height: 500px;
    max-width: 100%;
    object-fit: contain;
    margin: 10px 0;
}

/* Caption of modal image */
#modalCaption { 
    text-align: center;
    color: #333;
    font-size: 16px;
    margin-top: 20px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 20px; /* distanța de la marginea superioară a modalului */
    right: 20px; /* distanța de la marginea dreaptă a modalului */
    color: #131010; /* culoarea inițială a butonului de închidere */
    font-size: 28px; /* mărimea fontului pentru simbolul de închidere */
    font-weight: bold; /* grosimea fontului pentru simbolul de închidere */
    z-index: 10; /* asigură că butonul va fi deasupra altor elemente */
}

.close:hover,
.close:focus {
    color: #bbb; /* culoarea butonului la hover sau focus */
    text-decoration: none; /* elimină sublinierea textului la hover sau focus */
    cursor: pointer; /* schimbă cursorul pentru a indica o acțiune de clic */
    outline: none; /* elimină conturul care ar putea apărea la focus */
}

/* Stiluri pentru butoanele de navigare și selectorul de unghiuri în modal */
.modal-nav a, .angle-selector button {
    text-decoration: none;
    color: white;
    font-size: 18px; /* Mărimea fontului poate fi ajustată dacă este necesar */
    background-color: #444;
    border: none;
    padding: 10px 15px; /* Mărimea padding-ului poate fi ajustată dacă este necesar */
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Distanța dintre butoane poate fi ajustată dacă este necesar */
    flex-grow: 0; /* Nu permite butoanelor să crească */
    flex-shrink: 0; /* Nu permite butoanelor să se micșoreze */
}

/* Stiluri pentru hover pe butoanele de navigare și selectorul de unghiuri în modal */
.modal-nav a:hover, .angle-selector button:hover {
    background-color: #666;
}

/* Plasarea butoanelor în partea de jos a modalului pentru desktop */
.modal-nav, .angle-selector {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribuie butoanele la extremități */
    align-items: center;
    padding: 5px; /* Padding pe verticală */
    box-sizing: border-box;
}

.modal-nav .prev, .modal-nav .next {
    flex: 1; /* Permite butoanelor de navigație să crească dacă este spațiu disponibil */
    text-align: center; /* Centrează textul săgeților */
}

.angle-selector {
    justify-content: center; /* Centrează butoanele de unghi */
}

.angle-selector button {
    flex: none; /* Butonii de unghi nu vor crește sau micșora */
    text-align: center;
}

/* Asigurăm că săgețile și butoanele sunt vizibile și deasupra altor elemente */
.modal-nav a, .angle-selector button {
    z-index: 20;
}


/* Media query pentru dispozitive mobile în modul portrait și landscape */
@media only screen and (max-width: 600px), 
       only screen and (max-height: 600px) and (orientation: landscape) {
    body.modal-open .modal {
        /* Poziționare și dimensiune pentru întregul modal pe dispozitive mobile */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto; /* Permite scroll pe verticală dacă este necesar */
    }

    body.modal-open .modal-content {
        /* Ajustează conținutul modalului pentru a se potrivi corect */
        position: relative; /* Poziționare relativă la body */
        top: 0; /* Anulează orice stiluri 'top' din alte media queries */
        left: 0; /* Anulează orice stiluri 'left' din alte media queries */
        transform: none; /* Anulează orice transformări */
        width: 90%; /* Lățimea conținutului modalului */
        margin: 5% auto; /* Centrare și spațiu în jurul modalului */
        height: auto; /* Înălțimea se ajustează automat */
        max-height: 90%; /* Înălțimea maximă pentru a evita suprapunerea cu header/footer */
    }

    body.modal-open .modal-content .progress-image-modal {
        /* Ajustează imaginile pentru a se potrivi în modal */
        max-width: auto; /* Utilizăm mai puțin de jumătate din lățime pentru fiecare imagine */
        height: auto; /* Înălțimea automată pentru a păstra proporțiile */
        max-height: 300px; /* Înălțimea maximă fixă */
        margin: 10px 1%; /* Spațiu între și în jurul imaginilor */
    }

    body.modal-open #comparisonContainer {
        /* Stiluri pentru containerul care deține imaginile comparate */
        display: flex; /* Utilizăm flexbox pentru a aranja imaginile */
        flex-wrap: nowrap; /* Permite imaginilor să treacă pe rândul următor dacă este necesar */
        justify-content: space-around; /* Distribuie spațiul în mod egal în jurul elementelor */
        align-items: flex-start; /* Alinează elementele la începutul containerului */
    }


/* Stiluri pentru butoanele de navigație și selectorul de unghiuri */
body.modal-open .modal-nav,
body.modal-open .angle-selector {
 position: fixed; /* Fixează butoanele la partea de jos a ecranului */
 bottom: 0; /* La marginea inferioară a viewport-ului */
 left: 0; /* De la marginea stângă a viewport-ului */
 right: 0; /* De la marginea dreaptă a viewport-ului */
 width: 100%; /* Lățime completă */
 display: flex; /* Utilizează flexbox pentru aliniere */
 justify-content: space-between; /* Distribuie butoanele la extremități */
 align-items: center; /* Centrează elementele pe verticală */
 padding: 5px; /* Padding pentru spațiu */
 box-sizing: border-box; /* Include padding-ul în lățime */
 z-index: 20; /* Asigură că butoanele sunt peste alte elemente */
}

 /* Stiluri pentru săgețile de navigare */
 body.modal-open .modal-nav .prev,
 body.modal-open .modal-nav .next {
     position: fixed; /* Fixează săgețile în viewport */
     top: 50%; /* Poziționează săgețile pe centrul vertical al ecranului */
     transform: translateY(-50%); /* Centrare verticală */
     z-index: 25; /* Asigură că săgețile sunt peste alte elemente */
     background: rgba(0, 0, 0, 0.5); /* Adaugă un fundal pentru vizibilitate și contrast */
     border-radius: 50%; /* Opțional: butoane rotunde */
 }

 body.modal-open .modal-nav .prev { left: 10px; } /* Poziționează săgeata la stânga */
 body.modal-open .modal-nav .next { right: 10px; } /* Poziționează săgeata la dreapta */


/* Stiluri pentru butoanele de selectare a unghiului */
body.modal-open .angle-selector {
 bottom: 10px; /* Poziționat puțin mai sus de marginea inferioară a viewport-ului */
 justify-content: center; /* Centrează butoanele */
 padding: 5px; /* Padding pentru spațiu */
}

body.modal-open .angle-selector button {
 font-size: 14px; /* Mărimea fontului pentru butoane */
 padding: 5px 10px; /* Padding pentru butoane */
 margin: 0 2px; /* Spațiu între butoane */
 flex-grow: 0; /* Nu permite butoanelor să crească */
 flex-shrink: 0; /* Nu permite butoanelor să se micșoreze */
}
}


/* Media query pentru modul landscape pe dispozitive mobile */
@media only screen and (orientation: landscape) {
    body.modal-open .modal-content {
        width: 90%; /* sau o valoare care se potrivește bine pe ecranul tău */
        height: auto; /* Înălțimea se ajustează automat */
        max-height: 80vh; /* Maximal 80% din înălțimea viewport-ului */
        overflow-y: auto; /* Permite scroll pe verticală dacă este necesar */
    }

    body.modal-open .modal-content .progress-image-modal {
        max-width: auto; /* Fiecare imagine să ocupe maxim 45% din lățimea containerului */
        height: auto; /* Înălțimea se ajustează pentru a menține proporțiile */
        max-height: 45vh; /* Înălțimea maximă a imaginii este 45% din înălțimea viewport-ului */
    }

    body.modal-open #comparisonContainer {
        flex-direction: row; /* Imaginile sunt în rând pe orizontală */
        flex-wrap: nowrap; /* Imaginile nu vor trece pe rândul următor */
        justify-content: center; /* Centrează imaginile pe orizontală */
        align-items: center; /* Centrează imaginile pe verticală */
    }

}





/* Stiluri pentru containerul #client-messages */
#messagesContainer {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#messagesContainer h3 {
    margin-bottom: 20px;
}

#messagesContainer table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#messagesContainer thead {
    background: #0056b3;
    color: #ffffff;
}

#messagesContainer th, #client-messages td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.hidden-form {
    display: none;
}
.table-scroll {
    max-height: 400px; /* Ajustează înălțimea conform nevoilor tale */
    overflow-y: auto; /* Permite scroll-ul vertical */
    overflow-x: auto; /* Permite scroll-ul orizontal */
    width: 100%; /* Asigură că containerul se extinde pe toată lățimea disponibilă */
}

#toggleFormButton, #closeButton {
    display: block; /* Asigură că butonul este tratat ca un bloc, permițând centrarea */
    margin: 20px auto; /* Adaugă un spațiu de sus și jos și îl centrează orizontal */
    padding: 10px 20px; /* Adaugă padding pentru a mări dimensiunea butonului */
    background-color: #007bff; /* O culoare de fundal modernă, de exemplu, un albastru */
    color: white; /* Text alb pentru contrast */
    border: none; /* Elimină border-ul implicit */
    border-radius: 5px; /* Adaugă borduri rotunjite pentru un aspect modern */
    cursor: pointer; /* Schimbă cursorul într-un pointer când este deasupra butonului */
    font-size: 16px; /* Mărește dimensiunea fontului */
    text-transform: uppercase; /* Face textul să fie uppercase pentru un look mai definit */
    font-weight: bold; /* Face fontul să fie bold */
    transition: background-color 0.3s; /* Adaugă o tranzitie pentru hover */
}

#toggleFormButton:hover, #closeButton:hover {
    background-color: #0056b3; /* Schimbă culoarea de fundal la hover pentru feedback */
}

#toggleArticlesFormButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
}

#toggleArticlesFormButton:hover {
    background-color: #0056b3;
}

.data-container {
    display: none; /* Ascunde conținutul implicit */
}
.adm-articole {
    display: none;
}

.measurements-diagram, .measurements-diagram-form {
    font-family: Arial, sans-serif;
    position: relative;
    max-width: 300px;
    margin: 20px auto;
}

.measurements-diagram img, .measurements-diagram-form img {
    width: 100%;
    border: none;
    box-shadow: none;
}

.measurement-label, .measurement-input {
    position: absolute;
    font-size: 14px;
    color: #333;
    width: 115px; /* Ajustează în funcție de spațiul disponibil */
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}
  
  /* poziționare a inputurilor */
  #shoulders-input { top: 1%; left: -17%; }
  #chest-input { top: 16%; left: -17%; }
  #waist-input { top: 65%; left: -17%; }
  #hips-input { top: 65%; right: -17%; }
  #l-bicep-input { top: 29%; left: -17%; }
  #r-bicep-input { top: 29%; right: -17%; }
  #l-forearm-input { top: 47%; left: -17%; }
  #r-forearm-input { top: 47%; right: -17%; }
  #l-thigh-input { top: 80%; left: -17%; }
  #r-thigh-input { top: 80%; right: -17%; }
  #l-calf-input { top: 95%; left: -17%; }
  #r-calf-input { top: 95%; right: -17%; }
  #weight { top: 2%; right: -17%; }
  #fat { top: 10%; right: -17%; }
  #height { top: 18%; right: -17%; }
/* Stil pentru input-ul de data */
.date-input { 
    position: absolute; 
    top: 1%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
}

/* Stil pentru butonul de salvare a măsurătorilor */
.save-measurements-button { 
    position: absolute; 
    bottom: -20%; /* Ajustat pentru a evita suprapunerea cu alte elemente */
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 10; 
}

.measurements-diagram {
    font-family: Arial, sans-serif;
    position: relative;
    max-width: 300px;
    margin: 20px auto;
}

.measurements-diagram img {
    width: 100%;
    border: none;
    box-shadow: none;
}

.measurement-label {
    position: absolute;
    font-size: 13px;
    color: #fff; /* Schimbată culoarea textului în alb */
    background-color: #93beec; /* Adăugată culoare de fundal albastră */
    border-radius: 10px; /* Adăugată rotunjire a colțurilor */
    padding: 2px 10px; /* Adăugat padding pentru a lărgi etichetele */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adăugată umbră pentru efect de elevație */
    white-space: nowrap; /* Asigură că textul rămâne pe o singură linie */
}
  .shoulders { top: -1%; left: -17%; }
  .chest { top: 13%; left: -17%; }
  .waist { top: 68%; left: -17%; }
  .hips { top: 68%; right: -17%; }
  .l-bicep { top: 29%; left: -17%; }
  .r-bicep { top: 29%; right: -17%; }
  .l-forearm { top: 47%; left: -17%; }
  .r-forearm { top: 47%; right: -17%; }
  .l-thigh { top: 84%; left: -17%; }
  .r-thigh { top: 84%; right: -17%; }
  .l-calf { top: 100%; left: -17%; }
  .r-calf { top: 100%; right: -17%; }
  .weight { top: 2%; right: -17%; }
  .fat { top: 10%; right: -17%; }
  .height { top: 18%; right: -17%; }
  
  .date-selector {
    margin: 0 auto; /* Centrare orizontală */
    width: fit-content; /* Asigurați-vă că lățimea div-ului se potrivește cu conținutul său */
}


 @media screen and (max-width: 768px) {
        .measurement-label {
          font-size: 12px; /* o dimensiune mai mică pentru ecranele mai mici */
        }
    }
     
    .chart-wrapper h3 {
        text-align: center; /* Centrează textul */
        width: 100%; /* Asigură-te că elementul ocupă întreaga lățime */
        margin: 0 auto; /* Adaugă margini auto pentru a centra elementul dacă are o lățime specifică */
    }
    
    #chart_container {
        width: 90%;
        max-width: 600px;
        max-height: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        display: block; /* Asigură-te că elementul canvas este bloc */
        margin: 20px auto; /* Aceasta va centra canvas-ul în container-ul său dacă lățimea este definită */
      }
      
      
      .select-container {
        width: 100%; /* sau o lățime specifică, dacă dorești */
        max-width: 200px; /* Limitează lățimea select-ului pentru a nu deveni prea larg */
        margin: 20px auto; /* Margini pentru partea de sus și jos, și auto pentru stânga și dreapta pentru a centra */
        position: relative; /* Poziționare relativă pentru pseudo-elemente */
        display: flex; /* Flexbox pentru alinierea copiilor */
        justify-content: center; /* Centrarea orizontală a copiilor flex */
      }
      
      .select-container select {
        width: 100%; /* select va umple containerul părinte */
        padding: 10px 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 1em;
      }
      
      /* Stil pentru săgeată custom pentru dropdown, folosind pseudo-elementul ::after */
      .select-container::after {
        content: '▼';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: #333;
        font-size: 0.8em;
      }
      
      @media (max-width: 768px) {
        .select-container {
          max-width: 90%; /* Lățimea maximă mai mare pentru mobile */
          margin: 20px auto; /* Încă centrat */
        }
      }

      .client-data h3 {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    
    .chart-container {
        width: 90%;
        max-width: 600px;
        max-height: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        display: block;
        margin: 20px auto;
    }
    
    .select-container {
        width: 100%;
        max-width: 200px;
        margin: 20px auto;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .select-container select {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 1em;
    }
    
    .select-container::after {
        content: '▼';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: #333;
        font-size: 0.8em;
    }
    
    @media (max-width: 768px) {
        .select-container {
            max-width: 90%;
            margin: 20px auto;
        }
    }
    
    .data-deletion-block {
        margin-bottom: 30px; /* Adaugă spațiu între blocuri */
    }
    
    .data-deletion-block h4 {
        color: #0056b3; /* O culoare distinctă pentru titlul fiecărei secțiuni */
        margin-bottom: 10px; /* Spațiu sub titlu */
    }
    
    .data-deletion-block p {
        margin-bottom: 20px; /* Spațiu sub paragraf */
    }
    
    .date-picker-container {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px; /* Spațiu între input și buton */
    }
    
    .date-picker-container .form-control {
        flex: 1; /* Permite input-ului să se extindă */
        max-width: 200px; /* Limitează lățimea maximă a input-ului */
    }
    
    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }
    
    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }
    
    .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
        color: #212529; /* Asigură un contrast suficient */
    }
    
    .btn-warning:hover {
        background-color: #e0a800;
        border-color: #d39e00;
    }
    
    @media (max-width: 768px) {
        .date-picker-container {
            flex-direction: column;
            align-items: stretch; /* Asigură că input-urile și butoanele se extind pe toată lățimea */
        }
    
        .date-picker-container .form-control,
        .date-picker-container .btn {
            width: 100%; /* Butonul și input-ul vor umple containerul pe dispozitivele mobile */
        }
    
        .data-deletion-block {
            margin-bottom: 20px; /* Spațiu mai mic între blocuri pentru ecrane mici */
        }
    }
    
    .status-message {
        margin: 20px 0;
        padding: 15px;
        border-radius: 5px;
        display: none; /* Inițial, mesajele sunt ascunse */
        text-align: center;
        font-size: 16px;
      }
      
      .status-message.success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
      }
      
      .status-message.error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
      }
      
      .progress-pictures-form-container {
        background: #f7f7f7;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    }
    
    .progress-pictures-form-container h2 {
        color: #0056b3;
        margin-bottom: 15px;
    }
    
    .progress-pictures-form-container p {
        font-size: 16px;
        color: #333;
        margin-bottom: 20px;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .file-input-group {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    .file-label {
        flex-basis: 20%;
        margin-right: 10px;
    }
    
    .form-control-file {
        flex-grow: 1;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
    }

    .upload-button {
        width: 100%;
        padding: 12px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .upload-button:hover {
        background-color: #45a049;
    }

    .progress-date-input {
        width: auto; /* Sau o valoare specifică, de ex. 200px */
        max-width: 100%; /* Asigură-te că nu depășește lățimea containerului */
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
        box-sizing: border-box; /* Asigură-te că padding-ul nu adaugă la lățime */
    }
    .selected-file {
        font-size: 14px;
        color: #333;
        margin-top: 5px;
    }
    


/* Reset stiluri generale pentru a îmbunătăți claritatea și consistența */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #e7e7e7;
}

/* Stiluri pentru containerul calculatorului */
#calculator {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Stiluri pentru titlul calculatorului */
.calculator-heading {
    text-align: center;
    font-size: 32px;
    color: #0d6efd;
    margin-bottom: 30px;
}

/* Stiluri pentru rezultate și explicații */
.result-label {
    font-weight: bold;
    font-size: 18px;
    color: #0d6efd;
    margin: 20px 0 10px;
}

.explanation {
    font-size: 16px;
    background: #f2f2f2;
    border-left: 4px solid #0d6efd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

/* Stiluri pentru sugestii de buget caloric */
.suggestions-heading {
    font-size: 24px;
    color: #0d6efd;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #0d6efd;
    padding-bottom: 10px;
}

.caloric-suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Acest stil înlocuiește nevoia de margini negative și calcule complexe */
}

.caloric-suggestion {
    flex: 1 1 calc(33% - 20px);
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Stiluri pentru lista TDEE și nivelurile de activitate */
.tdee-list,
.activity-levels {
    list-style: none;
    margin: 20px 0;
}

.tdee-list li,
.activity-levels li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Stiluri responsive pentru a menține aspectul pe dispozitivele mobile */
@media (max-width: 768px) {
    #calculator {
        width: calc(100% - 40px);
        margin: 20px auto;
    }

    .caloric-suggestions {
        flex-direction: column;
    }

    .caloric-suggestion,
    .tdee-item {
        flex-basis: 100%;
        max-width: 100%;
    }
}
.macronutrient-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.macronutrient-heading {
    text-align: center;
    font-size: 24px;
    color: #0d6efd;
    margin-bottom: 20px;
}

.macronutrient-explanation {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.macronutrient-details {
    display: flex;
    justify-content: space-between;
}

.macronutrient-item {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

@media (max-width: 768px) {
    .macronutrient-details {
        flex-direction: column;
    }

    .macronutrient-item {
        flex-basis: 100%;
    }
}
.macro-suggestion h4 {
    color: #0d6efd;
    font-size: 20px;
    margin-bottom: 5px;
}

.macro-suggestion p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

